/* App.css */

.container {
    text-align: center;
    margin: 5rem auto;
    width: 80%;
    font-family: Arial, sans-serif;
    border: 2px solid #007BFF; 
    border-radius: 30px; 
    padding: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  

  
  .input-field {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 0.5rem; /* Add right margin to create space between buttons */
  }
  
  button:last-child {
    margin-right: 0; /* Remove the margin from the last button to prevent extra space */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin: 1rem 0;
    font-size: 1.2rem;
  }
  

  